.banner{
  padding-top: 90px;
  padding-bottom: 30px;
  text-align: center;
  background-image: url("../img/Background_opacity.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100vh;
  width: 100% !important;
  z-index: -1;
  min-height: 550px;

  @media screen and (min-width: $min-sm) {
    min-height: 600px;
  }

  @media screen and (min-width: $min-md) {
    min-height: 800px;
  }

  & img{
    height: 150px;
    margin-top: 20px;
    @media screen and (min-width: $min-sm) {
      margin-top: 100px;
    }

    @media screen and (min-width: $min-md) {
      height: 200px;
      margin-top: 150px;
    }
  }
}

