.contacts-part {
  padding-top: 100px;
  padding-bottom: 50px;
}

.contacts-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}

.contacts-main-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;

  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  padding-top: 50px;
  padding-bottom: 30px;

  @media (min-width: $min-md) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.contacts-title {
  margin-top: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.05em;
  padding-right: 60px;

  @media (max-width: $max-sm) {
    text-align: center;
    padding-right: unset;
    font-size: 20px;
  }
}

.contacts-address {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.05em;
  padding-right: 60px;

  & a {
    color: $body;

    &:hover {
      color: $first-letter;
    }
  }

  @media (max-width: $max-sm) {
    text-align: center;
    padding-right: unset;
    font-size: 18px;
  }
}

.contacts-text {
  @media (min-width: $min-sm) {
  text-align: right;
  }
}

iframe {
  //outline: black 2px solid;
  outline: none;
}

.line {
  margin: 50px 0 50px 0;

  height: 3px;
  width: 100%;
  background-color: $light-green;

  @media (min-width: $min-md) {
    margin: 50px 0 100px 0;
  }
}

.contacts-map {
  iframe {
    width: 100%;
  }
}