.injuries {
  padding-bottom: 50px;

  @media (min-width: $min-md) {
    padding-top: 50px;
  }
}

.injuries-img {
  width: 100%;
  height: auto;
  padding-top: 20px;
  filter: saturate(0.2);
}

.call-us {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $coral;
  height: 100px;
}

.injury-img {
  height: 220px;

  @media (min-width: $min-sm) {
    height: 395px;
  }
}
