.info {
  padding-bottom: 50px;
  padding-top: 0;
  //height: calc(100vh - 100px - 120px);
  //z-index: 2;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //overflow: scroll;
}

.info-message{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;

  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  background: rgba(0, 0, 0, 0.3);

  color: $white;
  padding: 40px 0;
  margin-top: 70px;

  @media screen and (min-width: $min-md) {
    padding: 70px 0;
  }

  @media screen and (min-width: $min-lg) {
    font-size: 32px;
    line-height: 140%;
  }
}

.info-title{
  padding: 20px 0 20px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 0;

  //text-align: justify;
  letter-spacing: 0.05em;

  & a {
    color: $coral;

    &:hover,
    &:focus {
      color: black;
      text-decoration: underline;
    }
  }

  &.info-title--white {
    color: $white;

    & a {
      color: $white;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    @media (max-width: $max-md) {
      font-size: 18px;
    }
  }
}

.info-title-padding {
  padding-top: 100px;
}

.first-letter{
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;

  text-align: justify;
  letter-spacing: 0.05em;

  color: $first-letter;
}
.info-text{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;

  //text-align: justify;
  letter-spacing: 0.05em;
}

.info-text--small {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;

  a {
    color: $light-green;

    &:hover,
    &:focus {
      color: $first-letter;
      text-decoration: underline;
    }
  }
}

.damages-main-page {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.property-background {
  background-color: rgba(255, 255, 255, 0.6);
}