.we {
  padding-top: 150px;
  overflow-y: auto;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 40px;
}

.photo {
  width: 260px;
  height: 360px;

  img {
    width: 100%;
    height: 100%;
  }
}

.we-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  color: #B6A19E;

  text-align: left;
  letter-spacing: 0.05em;

  @media (min-width: $min-md) {
    text-align: right;
    font-size: 37px;
  }
}

.line-we {
  margin-bottom: 10px;

  height: 3px;
  background-color: $light-green;

  &.line-we--grey {
    background-color: $first-letter;
  }
}

.we-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.05em;

  @media (min-width: $min-md) {
    //text-align: justify;
  }
}