.damages{
  padding: 150px 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.damage-block{
  display: block;
  width: 200px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;

  @media (min-width: $min-md) {
    width: 250px;
  }
}

.damage-block img{
  height: 50px;
  width: 50px;
}

@keyframes bounce {
  0% {transform: translateX(-5px);}
  20% {transform: translateX(5px);}
  40% {transform: translateX(-5px);}
  60% {transform: translateX(5px);}
  80% {transform: translateX(-5px);}
  1000% {transform: translateX(0);}
}
.damage-block:hover {

  animation-name: bounce;
  animation-duration: 0.5s;
}


.block-text{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  text-align: center;
  letter-spacing: 0.05em;

  @media (min-width: $min-md) {
    font-size: 18px;
    line-height: 250%;
  }
}
.first-letter-1 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;

  text-align: center;
  letter-spacing: 0.05em;

  color: $first-letter;
}

.info-property {
  padding-bottom: 100px;
}

.w-100-md-50 {
  width: 100%;
  @media (min-width: $min-md) {
    width: 50%;
  }
}

.info-pip {
  min-height: calc(100vh - 120px);
  display: flex;
  align-items: center;
}
