.footer-background {
  background-color: $footer;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 0;
  font-weight: normal;
  line-height: 18px;
  min-height: 120px;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;

  & img{
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: $max-xs + 1px){
    font-size: 12px;
    line-height: 16px;
  }

  @media screen and (min-width: $max-sm + 1px){
    font-size: 14px;
    line-height: 18px;
  }

  @media screen and (min-width: $max-md + 1px){
    font-size: 16px;
    line-height: 20px;
  }

  @media screen and (min-width: $max-lg + 1px){
    font-size: 18px;
    line-height: 24px;
  }
}

.addressJS{
  text-align: right;

  a {
    color: $white;

    &:hover {
      color: $coral;
    }
  }
}
.addressSA{
  text-align: left;

  a {
    color: $white;

    &:hover {
      color: $coral;
    }
  }
}