.header {
  position: fixed;
  padding: 0 15% 0 15%;
  z-index: 2;
  height: 100px;

  body.change-color & {
    background: $header;
  }

  & .header__link {
    color: black;
    font-weight: normal;
    font-size: 28px;
    width: 100%;

    &:focus {
      outline: none !important;
    }

    @media (max-height: 450px) {
        font-size: 14px !important;
    }


    @media screen and (min-width: $min-md) {
      font-size: 18px;
      width: unset;
    }

    @media screen and (min-width: $min-lg) {
      font-size: 20px;
    }

    body.change-color & {
      color: $black;

      &:hover,
      &:active,
      &:focus {
        color: $first-letter;
        text-decoration: none;
      }
    }

    &:hover,
    &:active,
    &:focus {
      color: $white;
      text-decoration: none;

      @media (max-width: $max-md) {
        color: $white;
      }
    }
  }

  & .header__link {
    &.active {
      body.change-color & {
        color: $first-letter;
      }

    }
  }

  & .header__link {
    &.header-logo {
      position: relative;

      body.change-color & {

        @media screen and (min-width: $min-lg) {
          &:before {
            content: "";
            background: url("../img/Logo-sign-black.svg") no-repeat;
            background-size: contain;
            position: absolute;
            width: 50px;
            height: 90px;
            left: -70px;
            top: -20px;
          }
        }
        @media screen and (min-width: $min-xl) {
          &:before {
            content: "";
            background: url("../img/Logo-horisontal-black.svg") no-repeat;
            background-size: contain;
            position: absolute;
            width: 200px;
            height: 80px;
            left: -250px;
            top: -25px;
          }
        }
      }
    }
  }
}

.header__burger-logo {
  position: relative;

  body.change-color & {

    &:before {
      content: "";
      background: url("../img/logo-horisontal-black.png") no-repeat;
      background-size: contain;
      position: absolute;
      width: 200px;
      height: 80px;
      left: 15px;
      bottom: -40px;
    }
  }
}

.header__link {
  &.active {
    color: $white;

    @media (max-width: $max-md) {
      color: $first-letter;
    }
  }
}

.header__navigation {

  @media (max-width: $max-md) {
    position: fixed;
    flex-direction: column;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background: $header;
    padding: 85px 30px;
    width: 100vw;
    max-width: unset !important;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    align-items: flex-start;

    @media (max-height: 450px) {
      padding: 85px 30px 45px 30px;
    }

    body.is-menu-open & {
      opacity: 1;
      pointer-events: auto;
    }

    &.header__link {
      color: $black;
    }

  }

}

.burger {
  width: 28px;
  margin-left: auto;
  cursor: pointer;
  position: relative;
  transition: .35s;
  background: transparent;
  border: none;
  padding: 0;
  height: 10px;
  z-index: 5;

  &:focus {
    outline: none !important;
  }
}

.burger-line {
  position: absolute;
  width: 28px;
  height: 2px;
  background: $black;
  transition: .35s;
  transform: skew(50deg);


  &:first-child {
    top: 0;

    body.is-menu-open & {
      top: 5px;
      transform: rotate(45deg) skew(50deg);
    }
  }

  &:last-child {
    transform: skew(-50deg);
    bottom: 0;

    body.is-menu-open & {
      bottom: 4px;
      transform: rotate(-45deg) skew(-50deg);
    }
  }
}
