<footer class="footer-background">
  <div class="container footer">
  <div class="addressJS">
    <p>Jacksonville Office
      <br> 1644 Blanding Blvd., Jacksonville FL 32210
      <br><a href="tel:9045152187"> Tel: (904) 515-2187</a></p>
  </div>
  <a href="#"> <img src="./img/logo-sign-white.png" height="80" alt=" "></a>
  <div class="addressSA">
    <p>St. Augustine Office
      <br> 2730 U.S. 1 South, Suite C, St. Augustine, FL 32086
      <br><a href="tel:9047975505"> Tel: (904) 797-5505</a></p>
  </div>
  </div>
</footer>
