<header class="header container-fluid flex-container flex-container--space-between">
  <div class="container header__navigation flex-container flex-container--space-between">
  <a class="header__link js-1 header-logo" href="/croskey-lawyers">HOME</a>
  <a class="header__link js-2" href="/croskey-lawyers/our-firm.html">OUR FIRM</a>
  <a class="header__link js-3" href="/croskey-lawyers/property.html">PROPERTY & CASUALTY</a>
  <a class="header__link js-4" href="/croskey-lawyers/personal-injury.html">PERSONAL INJURY</a>
  <a class="header__link js-5" href="/croskey-lawyers/pip.html">PIP</a>
  <a class="header__link js-6" href="/croskey-lawyers/contacts.html">CONTACT US</a>
  </div>
  <a href="/" class="header__burger-logo d-md-none-1"></a>
  <button class="burger js-burger d-md-none-1">
    <span class="burger-line"></span>
    <span class="burger-line"></span>
  </button>
</header>
