<meta name="theme-color" content="#B6A19E">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="description" content="Croskey Lawyers - If you’re being treated unfairly by your insurance company, call our firm for free
      consultation">
<link rel="icon" type="image/png" href="./img/favicons/favicon-croskey.png">
<link rel="stylesheet" href="./styles/main.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<meta property="og:type" content="website" />
<meta property="og:title" content="CROSKEY LAWYERS"/>
<meta property="og:description" content="If you’re being treated unfairly by your insurance company, call our firm for free
      consultation" />
<meta property="og:image" content="https://croskeylawyers.com/img/socials-img.png" />
<meta property="og:url" content="http://croskeylawyers.com">
<meta name="twitter:card" content="summary_large_image">
