*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

body {
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: 'Abhaya Libre', serif !important;
  font-weight: normal;
  color: $body !important;
  //background-color: #e7eced !important;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media screen and (min-width: $min-sm) {
    max-width: 738px;
  }

  @media screen and (min-width: $min-md) {
    max-width: 962px;
  }

  @media screen and (min-width: $min-lg) {
    max-width: 1170px;
  }
}

.js-visible {
  @media (min-width: $min-sm) {
    opacity: 0;

    &.is-visible {
      -webkit-animation: .35s forwards stateChange;
      animation: .55s forwards stateChange;
    }
  }
}

.d-md-none-1 {
  display: flex;

  @media (min-width: $min-md) {
    display: none !important;
  }
}

.pl-md-50 {
  @media (min-width: $min-md) {
    padding-left: 50px;
  }
}

.img {
  object-fit: cover;
  object-position: center;
}

.pt-20 {
  padding-top: 20px;
}