.flex-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.flex-container--space-between {
  justify-content: space-between;
  align-items: center;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}