@font-face {
  font-family: 'Abhaya Libre';
  src: 
  url('../fonts/AbhayaLibre-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Abhaya Libre';
  src:
  url('../fonts/AbhayaLibre-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
