.text-uppercase {
  text-transform: uppercase;
  letter-spacing: .2rem !important;
}

.text-center {
  text-align: center;
}

.title-green {
  color: $light-green;
}

.title-brown {
  color: $first-letter;
}